.section_expeditions {
    padding: 80px 200px;
}

.section_expeditions__tour_information {
    width: 648px;
}

.section_expeditions__header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
}

.section_expeditions__title {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 40px;

    line-height: 50px;

    margin-bottom: 64px;

    color: #222222;
}

.section_expeditions__list {
    width: 758px;

    display: flex;
    flex-wrap: wrap;

    column-gap: 16px;
    row-gap: 10px;
}

/* .section_expeditions__item {

} */

.section_expeditions__tour_country {
    text-transform: uppercase;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    letter-spacing: 9px;
    line-height: 30px;

    color: #4997d3;

    margin-bottom: 16px;
    margin-left: 28px;
}

.section_expeditions__tour_title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;

    line-height: 40px;

    color: #222222;

    margin-bottom: 14px;
}

.section_expeditions__tour_description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    line-height: 30px;

    color: #999999;
}

.section_expeditions__button {
    border: none;
    border-radius: 10px;

    padding: 12px 20px;

    background-color: #f6f6f6;
}

.section_expeditions__button_activeButton {
    background-color: #7d7d7d;
}

/* .section_expeditions__sort {

} */

.section_expeditions__input {
    width: 347px;
    padding-top: 10px;
    padding-bottom: 16px;
}

.section_expeditions__tour {
    display: flex;
    column-gap: 43px;

    margin-bottom: 40px;
}

.section_expeditions__tariff_wrapper {
    margin-top: 60px;
}

.section_expeditions__tariff_text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    color: #222222;

    opacity: 75%;

    margin-bottom: 16px;
}