.hero {
    background-image: url('../../../images/hero-mobile.jpg');
    background-color: var(--shadow-color);
    background-blend-mode: overlay;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;
}

@media (min-width: 886px) {
    .hero {
        background-image: url('../../../images/hero.png');
        background-color: var(--shadow-color);

        height: 700px;

        position: relative;
    }
}

@media (min-width: 1440px) {
    .hero {
        background-image: url('../../../images/hero.png');

        height: 940px;

        position: relative;
    }
}
