.section_subscription {
    padding: 50px 20px;

    text-align: center;
}

.section_subscription__title {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 18px;

    text-transform: uppercase;

    margin-bottom: 15px;

    line-height: 40px;

    color: rgba(34, 34, 34, 1);
}

.section_subscription__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;

    text-align: left;

    line-height: 20px;

    margin-bottom: 20px;
    margin-left: 5px;

    color: rgba(34, 34, 34, 1);
}

.section_subscription__input {
    line-height: 20px;

    color: #999;

    padding: 5px;
    margin-bottom: 20px;

    border-bottom: 1px solid #ccc;
}

.section_subscription__input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #999;
    opacity: 1;
}

.section_subscription__input:focus-visible {
    outline: none;
}

.section_subscription__button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;

    padding: 10px;

    border-radius: 10px;
    border: 0;

    color: #fff;
    background-color:   rgba(34, 34, 34, 1);

    width: 100%;
}

@media (min-width:886px) {
    .section_subscription {
        padding: 150px 20px;
    }

    .section_subscription__title {
        margin-bottom: 32px;

        font-size: 100px;

        line-height: 100px;
    }

    .section_subscription__text {
        max-width: 1152px;

        margin: 0 auto;

        font-size: 20px;

        line-height: 30px;

        margin-bottom: 32px;
    }

    .section_subscription__input {
        line-height: 30px;

        width: 551px;

        padding: 25px 23px;

        margin-right: 26px;
        margin-bottom: 0;
    }

    .section_subscription__input::placeholder {
        font-size: 20px;

        line-height: 30px;
    }

    .section_subscription__button {
        font-size: 20px;

        line-height: 30px;

        padding: 26px 30px;

        width: 200px;
    }
}