.section_expeditions {
    position: relative;
}

.section_expeditions__header {

}

.section_expeditions__title {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 30px;

    margin-bottom: 20px;

    color: var(--gray-dark);
}

.section_expeditions__list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 5px;
    row-gap: 10px;

    margin-bottom: 20px;
}

.section_expeditions__item {

}

.section_expeditions__input {
    height: 40px;

    padding-top: 10px;
    padding-bottom: 16px;
    margin: 20px 0;
}

.section_expeditions__tours_wrapper__none {
    display: none;
}

.section_expeditions__tour_description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: var(--gray-medium);
}

.section_expeditions__tariff_text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 10px;

    color: var(--gray-dark);

    opacity: 75%;
}

.section_expeditions__tariff_button_wrapper {
    display: flex;
    column-gap: 10px;

    margin-bottom: 20px;
}

.section_expeditions__tours_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (min-width: 886px) {
    .section_expeditions__tour_img {
        width: 358px;
        height: 206px;
    }

    .section_expeditions__tariff_button_wrapper {
        margin: 0;
    }
}

@media (min-width: 1440px) {
    .section_expeditions {
        padding: 20px 50px;
    }

    .section_expeditions__header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 80px;
    }

    .section_expeditions__title {
        font-size: 40px;

        line-height: 50px;

        margin-bottom: 44px;
    }

    .section_expeditions__list {
        column-gap: 16px;

        margin: 0;
    }


    .section_expeditions__tour {
        display: flex;
        column-gap: 43px;

        margin-bottom: 40px;
    }

    .section_expeditions__tour_description {
        font-size: 20px;

        line-height: 30px;
    }

    .section_expeditions__input {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 16px;
    }

    .section_expeditions__tariff_text {
        font-size: 20px;

        margin-bottom: 16px;
    }
}