.section_questions {
    width: 100%;
    background-color: rgba(246, 246, 246, 1);
}

.section_questions__content {
    text-align: center;
}

.section_questions__content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 150px 30px 147px;
}

.section_questions__title {
    text-transform: uppercase;

    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 40px;

    line-height: 50px;

    color: #000;

    margin-bottom: 15px;
}

.section_questions__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    line-height: 30px;

    margin-bottom: 64px;

    color: rgb(53, 53, 53);
}

.section_questions__wrapper {
    width: 987px;

    border-radius: 10px;

    background-color: #ffffff;

    margin-bottom: 30px;
    padding: 36px 110px 29px 36px;

    box-sizing: border-box;
}

.section_questions__question {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;

    line-height: 40px;

    opacity: 80%;

    margin-bottom: 20px;
}

.section_questions__answer {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;

    opacity: 75%;
}