.section_questions {
    width: 100%;
    background-color: var(--gray-lightest);
}

.section_questions__content {
    text-align: center;
}

.section_questions__content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 20px 47px;
}

.section_questions__title {
    text-transform: uppercase;

    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;

    line-height: 20px;

    color: var(--black);

    margin-bottom: 10px;
}

.section_questions__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;

    text-align: left;

    margin-bottom: 25px;
    margin-left: 5px;

    color: var(--gray-darker);
}

.section_questions__button_toggle {
    position: absolute;
    bottom: 10px;
    right: 20px;

    color: var(--black);

    font-size: 14px;

    border: none;
    border-radius: 5px;

    padding: 5px;
}

@media (min-width: 886px) {
    .section_questions__content_wrapper {
        padding: 150px 30px 147px;
    }

    .section_questions__title {
        font-size: 40px;

        line-height: 50px;

        margin-bottom: 15px;
    }

    .section_questions__text {
        font-size: 20px;

        margin-bottom: 64px;
    }
}