    .header {
        background-color: var(--shadow-color);
    }

    .header__button_icon {
        border: none;
        background-color: var(--transparent);

        padding: 0;
    }

    .header__burger_menu {
        position: absolute;
        top: 128px;
        left: 0;

        padding: 20px;

        width: 100%;
        min-height: 300px;

        background: var(--shadow-color);
        display: flex;
        align-items: center;
        justify-content: center;

        display: none;
        transition: 0.3s;
    }

    .header__burger_menu_open {
        display: block;
        transition: 0.3s;
    }

    .header__banner {
        
    }

    .header__wrapper_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        column-gap: 10px;

        position: relative;
    }

    .header__title {

    } 

    .header__subtitle{
        
    } 

    .header__nav {
        display: none;
    }

    .header__button_contact_us {
        display: none;
    }

    .header__nav_list {
    }

    .header__nav_item:not(:last-child) {
        margin-bottom: 25px;
    }

    .header__nav_link{

    }


@media (min-width: 886px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        z-index: 10;
    }

    .header__button_icon {
        display: none;
    }

    .header__burger_menu {
        display: none;
    }

    .header__nav {
        display: block;
        width: 562px;
    }

    .header__nav_list {
        display: flex;
        flex-wrap: wrap;

        column-gap: 52px;
        row-gap: 10px;
    }

    .header__nav_item:not(:last-child) {
        margin-bottom: 0;
    }
}


@media (min-width: 1440px) {
    .header__wrapper_content {
        margin: 0 auto;
        padding: 32px 50px;
    }
}
