.section-subscription {
    padding: 150px 340px;

    text-align: center;
}

.section-subscription__title {
    text-transform: uppercase;

    margin-bottom: 32px;

    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 100px;

    line-height: 100px;

    color: rgba(34, 34, 34, 1);
}

.section-subscription__text {
    width: 1152px;

    margin: 0 auto;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    line-height: 30px;

    margin-bottom: 32px;

    color: rgba(34, 34, 34, 1);
}

.section-subscription__input {
    line-height: 30px;

    color: #999;

    width: 551px;

    padding: 25px 23px;

    margin-right: 26px;
}

.section-subscription__input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    color: #999;
    opacity: 1;


    line-height: 30px;
}

.section-subscription__input:focus-visible {
    outline: none;
}

.section-subscription__button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 30px;

    padding: 26px 30px;

    border-radius: 10px;
    border: 0;

    color: #fff;
    background-color:   rgba(34, 34, 34, 1);
}