.subscription_form__label {
    cursor: pointer;
}

.subscription_form__label input{
    cursor: pointer;
}

.subscription_form {

}

.subscription_form__checkbox {
    margin: 0;
    width: 15px;
    height: 15px;
}

.subscription_form__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: var(--black);

    margin-left: 10px;
}

.subscription_form__button {
    border: none;
    border-radius: 10px;

    color: var(--white);
    background-color: var(--gray);

    padding: 10px 20px;
}