.branding_title {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 40px;

    color: var(--white);
}

.branding_subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;

    width: 180px;

    line-height: 14px;

    color: var(--white);
}