.сart_booked_tours {
    position: fixed;
    top: 25%;
    right: 0;

    border-radius: 0 0 0 5px;
    
    width: 250px;
    min-height: 200px;

    background: var(--white);
    box-shadow: 0 0 15px var(--transparent);

    transform: translateX(100%);
    transition: transform 0.2s;

    z-index: 10;
}

.cart_booked_tours__open {
    right: 0;

    transform: translateX(0);
    transition: transform 0.2s;
}

.сart_booked_tours__title {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 50px;

    text-align: center;
}

@media (min-width: 886px) {
    .сart_booked_tours {
        width: 500px;
        min-height: 500px;
    }
}