.сart_booked_tours {
    position: fixed;
    top: 25%;
    right: 0;

    border-radius: 0 0 0 5px;
    
    width: 250px;
    min-height: 200px;
    max-height: 300px;

    background: var(--white);
    box-shadow: 0 0 15px var(--gray);

    transform: translateX(100%);
    transition: transform 0.2s;

    z-index: 10;

    display: flex;
    flex-direction: column;
}

.cart_booked_tours__open {
    right: 0;

    transform: translateX(0);
    transition: transform 0.2s;
}

.сart_booked_tours__title {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 50px;

    text-align: center;
}

.сart_booked_tours__total {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-normal);
    font-size: 20px;

    margin-bottom: 20px;
}

.сart_booked_tours__list {
    overflow-y: auto; 
    padding: 10px;
}

.сart_booked_tours__item {
    width: 100%;
    min-height: 50px;

    margin-bottom: 10px;
    padding: 15px;

    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.сart_booked_tours__country {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bolder);
    font-size: 25px;

    color: var(--primary-blue);
}

.сart_booked_tours__card_title {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bolder);
    font-size: 20px;

    color: var(--gray-darker);
}

@media (min-width: 886px) {
    .сart_booked_tours {
        width: 400px;
        min-height: 500px;
        height: 800px;
    }

    .сart_booked_tours__price{
        display: flex;

        font-family: var(--font-primary);
        font-weight: var(--font-weight-normal);
        font-size: 16px;

        color: var(--gray-dark);
    }
    
}