.footer {
    background-color: var(--footer-bg);
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px;
}

.footer__list {
    display: none;
}  

.footer__copyright_text {
}

.footer__border_line {
    border-bottom: 1px solid var(--white);

    margin-bottom: 16px;
}

.footer__copyright {
    align-items: center;

    color: var(--white);
}


.footer__copyright_list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 10px;
    row-gap: 5px;

    margin-top: 15px;
}

.footer__copyright_link {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;

    color: #fff;

    line-height: 100%;
}


@media (min-width: 886px) {

    .footer__wrapper {
        padding: 80px 50px;
    }

    .footer__banner {
        margin-right: 228px;
    }

    .footer__content {
        margin-bottom: 47px;

        border: none;
    }

    .footer__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;

        margin-right: 321px;
    }

    .footer__icons_list {
        column-gap: 20px;
    }

    .footer__copyright_link {
        font-size: 16px;
    }

    .footer__copyright_list {
        display: flex; 
        column-gap: 12px;
    }

    .footer__copyright {
        display: flex;
        justify-content: space-between;
    
        column-gap: 733px;
    }

    .footer__copyright_item:not(:last-child)::after {
        content: "";
        height: 3px;

        margin-left: 13px;

        border: 1px solid var(--white);
    }
}