
.details_button {
    display: inline-block;
    text-align: center;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;

    min-width: 12px;

    padding: 10px;

    border: 1px solid var(--primary-blue);
    border-radius: 10px;

    background-color: var(--white);
    color: var(--primary-blue);

    line-height: 30px;
}

.details_button_column {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--white-transparent);
}

@media (min-width: 886px) {
    .details_button  {
        box-sizing: border-box;
        min-width: 158px;

        padding: 16px 0;
    }

}