.book_button {
    padding: 10px;

    border: none;
    border-radius: 10px;

    background-color: #4997d3;
    color: #ffffff;
}

.details_button {
    padding: 10px;

    border: 1px solid #4997d3;
    border-radius: 10px;

    background-color: #ffffff;
    color: #4997d3;

    line-height: 30px;
}

@media (min-width: 886px) {
    .book_button {
        box-sizing: border-box;

        width: 185px;
        height: 64px;
    }

    .details_button {
        width: 158px;
        height: 64px;
    }
}