.book_button {
    padding: 12px 10px;
    min-width: 155px;

    border: none;
    border-radius: 10px;

    background-color: #4997d3;
    color: #ffffff;
}

.details_button {
    display: inline-block;
    text-align: center;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;

    min-width: 12px;

    padding: 10px;

    border: 1px solid #4997d3;
    border-radius: 10px;

    background-color: #ffffff;
    color: #4997d3;

    line-height: 30px;
}

.details_button_column {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
}

@media (min-width: 886px) {
    .book_button {
        box-sizing: border-box;

        padding: 16px 12px;
        min-width: 185px;

    }
    .details_button  {
        box-sizing: border-box;
        min-width: 158px;

        padding: 16px 0;
    }

}