@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0 auto;

  box-sizing: border-box;
  min-width: 360px;
  
  max-width: 3000px;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none; 
  margin: 0;        
  padding: 0;    
}

a {
  text-decoration: none;
  all: unset;
  display: block; 

  cursor: pointer;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;

  cursor: pointer;
}
button:disabled {

  cursor: auto;
}

:root {
  /* Базовые цвета */
  --white: #fff;
  --black: #000;
  --transparent: rgba(241, 0, 0, 0);
  --primary-blue: #4997d3;
  
  /* Шкала серого */
  --gray-lightest: rgb(246, 246, 246);
  --light-gray: #dcd4d4;
  --gray: #cccccc;
  --gray-medium: #999999;
  --gray-darker: #353535;
  --gray-dark: #222222;
  --dark-brown: #433a3a;
  
  /* Специальные цвета */
  --shadow-color: rgba(0, 0, 0, 0.2);
  --white-transparent: rgba(255, 255, 255, 0);
  --footer-bg: rgba(34, 34, 34, 1);
}

.container {
  max-width: 320px;

  margin: 0 auto;
  padding: 20px 0;
}


.links-list {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 25px;

    Line-height: 100%;

    color: var(--white);
}

.input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    width: 100%;

    border: 0;
    border-bottom: 1px solid var(--shadow-color);
}

/* .size_navigation_button {
  min-width: 89px;
  padding: 12px 20px;
} */


@media (min-width: 886px) {
  .container {
    max-width: 836px;

    margin: 0 auto;
  }
  
  .links-list {
      font-size: 16px;
  }

  .input {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 20px;

      width: 256px;

      border: 0;
      border-bottom: 1px solid var(--shadow-color);
  }

}

@media (min-width: 1440px) {
  .container {
    max-width: 1520px;

    margin: 0 auto;
  }
}

.via-antiqua-banner {
    width: 253px;
}

.input:focus-visible {
    outline: none;
}
