.tours__title {
    display: block;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;

    color: var(--gray-dark);

    margin-bottom: 14px;
}

.tours__information  {
    margin-bottom: 20px;
}

.tours__img {
    width: 100%;
    height: 206px;
}

.tours__country {
    text-transform: uppercase;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;


    color: var(--primary-blue);

    margin-top: 10px;
    margin-bottom: 16px;
    margin-left: 28px;
} 

.tours__tariff_button_wrapper {
    display: flex;
    column-gap: 40px;

    margin-bottom: 20px;
}

@media (min-width: 1440px) {
    .tour__item{
        display: flex;
        align-items: center;

        column-gap: 15px;

        margin-bottom: 40px;
    }

    .tours__information {
        width: 630px;

        margin: 0;
    }

    .tours__country {
        font-weight: 400;
        font-size: 20px;

        letter-spacing: 9px;
        line-height: 30px;

        margin-bottom: 16px;
        margin-left: 28px;
        margin-top: 0;
    }

    .tours__title {
        font-size: 32px;

        line-height: 40px;
    }

    .tours__description {
        font-size: 20px;

        line-height: 30px;
    }

    .tours__tariff_wrapper {
        margin-top: 60px;
        margin-left: 50px;
    }

    .tours__tariff_text {
        font-size: 20px;

        margin-bottom: 16px;
    }

    .tours__tariff_button_wrapper {
        column-gap: 10px;
    }
}
