/* Contacts */
.main_button_contact {
    display: none;

    line-height: 30px;

    padding: 10px 20px;

    min-width: 236px;

    background-color: rgba(255, 255, 255, 0);
    color: #fff;

    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 7px;
}


/* Filtered */
.main_button_filtered {
    border: none;
    border-radius: 10px;

    padding: 10px;

    background-color: #f6f6f6;
}

.main_button_filtered_active {
    background-color: #464545;
    color: #ffffff;

    transition: 0.5s;
}

/* toggle */

.main_button_button_toggle {
    display: none;
}

/* booked */

.main_button_add_booked {
    padding: 12px 10px;
    min-width: 155px;

    border: none;
    border-radius: 10px;

    background-color: #4997d3;
    color: #ffffff;
}

.main_button_booked {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;

    writing-mode: vertical-rl;

    position: absolute;
    top: 0;
    left: -32px;

    border: none;
    border-radius: 5px 0 0 5px;
}

/* subscription */

.main_button_subscription {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;

    padding: 10px;

    border-radius: 10px;
    border: 0;

    color: #fff;
    background-color:   rgb(0, 0, 0);

    width: 100%;
}


@media (min-width: 886px) {
    /* Contacts */
    .main_button_contact {
        display: block;
    }

    /* Filtered */
    .main_button_filtered  {
        padding: 12px 20px;
    }

    /* toggle */
    .main_button_toggle {
        display: block;
        width: 158px;
        height: 48px;

        background-color: var(--white);
        color: var(--dark-brown);

        border: 1px solid var(--light-gray);
        border-radius: 10px;
            
        margin-top: 20px;
    }

    /* booked */

    .main_button_add_booked{
        box-sizing: border-box;

        padding: 16px 12px;
        min-width: 185px;

    }

    /* subscription */
    .main_button_subscription  {
        font-size: 20px;

        line-height: 30px;

        padding: 26px 30px;

        width: 200px;
    }
}


/* 
@media (min-width: 1440px) {
    .main_button_contact {
        padding: 12px 20px;
    }
} */