/* Contacts */
.main_button_contact {
    display: none;

    line-height: 30px;

    padding: 10px 20px;

    min-width: 236px;

    background-color: rgba(255, 255, 255, 0);
    color: #fff;

    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 7px;
}


/* Filtered */
.main_button_filtered {
    border: none;
    border-radius: 10px;

    padding: 10px;

    background-color: #f6f6f6;
}

.main_button_filtered_active {
    background-color: #464545;
    color: #ffffff;

    transition: 0.5s;
}

/* toggle */

.main_button_button_toggle {
    display: none;
}


@media (min-width: 886px) {
    /* Contacts */
    .main_button_contact {
        display: block;
    }

    /* Filtered */
    .main_button_filtered  {
        padding: 12px 20px;
    }

    /* toggle */
.main_button_toggle {
        display: block;
        width: 158px;
        height: 48px;

        background-color: #ffffff;
        color: #433a3a;

        border: 1px solid #dcd4d4;
        border-radius: 10px;
        
        margin-top: 20px;
    }
}

/* 
@media (min-width: 1440px) {
    .main_button_contact {
        padding: 12px 20px;
    }
} */